<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Корзина товаров</title>
</head>

<body>
<!-- В href ссылка на страницу заказов -->
<a href="..." style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<!-- В href ссылка на главную страницу -->
<a href="/product/" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
   <!-- Итерируемся по каждому товару -->
    <tr th:each="cart : ${carts}">
        <td>
            <table>
                <tr>
                    <td>
                        <!-- В src ссылка изображение товара -->
                        <img width="300" height="300" th:src="${cart.getProductImage()}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- В text название товара -->
                        <b th:text="${cart.getProductTitle()}"></b>
                    </td>
                    <td>
                        <!-- В text цена товара -->
                        <b th:text="${cart.getProductPrice()}"></b>
                    </td>
                </tr>
                <!-- В text описание товара -->
                <tr><td th:text="${cart.getProductDescription()}"></td></tr>
                <tr>
                    <td>
                    	<!-- 
                    		В action ссылка на изменение количества товара в корзине.
                    		Передается параметр запроса action=[minus|plus]
                    	-->
                        <form th:action="@{/cart/updateQuantity(productId=${cart.id})}" method="post">
                            <button type="submit" name="action" value="minus">-</button>
                            <span th:text="${product.quantity}"></span>
                            <button type="submit" name="action" value="plus">+</button>
                            <button type="submit" name="action" value="delete" style="float:right;">&cross;</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <!-- В text суммарная стоимость заказа -->
            <b th:text="42"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <!-- 
            	В action ссылка на страницу оформления заказа.
            	В if true, если в корзине есть товары, false, если нет
            -->
            <form action="..." method="post" th:if="...">
                <button>Купить</button>
            </form>
        </td>
    </tr>
</table>
</body>

</html>
