<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заказы</title>
</head>

<body>
<!-- В href ссылка на корзину -->
<a href="/cart/" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<!-- В href ссылка на главную страницу -->
<a href="/product/" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <!-- Итерируемся по заказам -->
    <tr th:each="order : ${orders}">
        <td>
            <h2>
            	<!--
            		В text номер заказа.
            		В href ссылка на страницу заказа. 
            	-->
                <a th:text="${order.id}" th:href="@{/order/{id}(id=${order.id})}"></a>
            </h2>
            <table>
                <!-- Итерируемся по товарам в заказе -->
                <tr th:each="product : ${order.products}">
                    <!-- В text название товара, количество штук и стоимость -->
                    <td th:text="|${product.title} ${product.quantity} штук. По цене: ${product.price} руб.|"></td>
                </tr>
            </table>
            <p>
                <!-- В text общая сумма заказа -->
                <b th:text="${order.totalPrice}"></b>
            </p>
        </td>
    </tr>
</table>
</body>

</html>
